@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', monospace;
	color: #1a1a1a;
}

body {
	background-color: #ffffff;
}

#top {
	display: flex;
	justify-content: center;
	text-align: center;
	background-image: linear-gradient(#b5dee6, #ffffff);
	padding: 30px;
}

#top h1 {
	font-size: 3.5rem;
	font-weight: 900;
	padding: 15px;
	background-color: #f8fffd;
	border: 5px solid #007ba7;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #454545;
	width: 800px;
}

#survey-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#survey-section h2 {
	padding: 10px;
	font-size: 1.25rem;
}

.input-box {
	width: 300px;
	height: 28px;
	font-size: 1rem;
}

#survey-form p,
#survey-form label {
	padding-bottom: 4px;
	padding-top: 6px;
	font-size: 1.1rem;
}

#submit {
	margin-top: 12px;
	width: 5.25rem;
	height: 2.25rem;
	font-size: 1rem;
	border: none;
	background-color: #007ba7;
	color: #ffffff;
	border-radius: 3px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.readButton,
.deleteButton {
	font-size: 1rem;
	padding: 10px 15px;
	margin-left: 10px;
	margin-right: 10px;
	border: none;
	border-radius: 3px;
}

.deleteButton {
	background-color: #454545;
	color: #f1fffa;
}

.read {
	background-color: #007ba7;
	color: #f1fffa;
}

.notRead {
	background-color: #d64650;
	color: #f1fffa;
}

.book {
	background-color: #f8fffd;
	width: 400px;
	min-height: 200px;
	max-height: 300px;
	border: 5px solid #007ba7;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #454545;
	margin: 20px 10px;
	padding: 15px;
}

.notReadBook {
	background-color: #b0587c;
	width: 400px;
	height: 230px;
	border: 5px solid #9572a5;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #434d80;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 15px;
}

.book h1,
.book h2,
.book h3 {
	padding-bottom: 15px;
	text-align: center;
}

.book h1 {
	font-size: 1.75rem;
}

.book h2 {
	font-size: 1.2rem;
}

.book h3 {
	font-size: 1rem;
}

#submit:hover {
	box-shadow: 0 0 4px black;
}

.readButton:hover {
	box-shadow: 0 0 4px black;
}

.deleteButton:hover {
	box-shadow: 0 0 4px black;
}

.notRead:hover {
	box-shadow: 0 0 4px black;
}
